:root {
  --highlight: var(--theme-body-alternate-emphasized-background);
}

#root {
  display: grid;
  grid-template-rows: auto auto 1fr;
  max-height: 100%;
}

.network-app {
  max-height: 100%;
  overflow-y: hidden;
}

.webconsole-app {
  max-height: 100%;
  overflow-y: scroll;
}

header {
  display: flex;
  padding: 0.5em 1em;
  line-height: 1.5;
  background-color: var(--theme-body-alternate-emphasized-background);
  font-family: system-ui, -apple-system, sans-serif;
  border-block-end: 1px solid var(--theme-splitter-color);
  border-block-start: 1px solid var(--theme-splitter-color);
  align-items: center;
}

header h3 {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
}

.btn-clear {
  background-image: url("../assets/delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  height: 25px;
  width: 25px;
  margin-left: 10px;
}

.btn-clear:hover {
  background-color: var(--blue-50-a30);
}

.devtools-tab-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  transition: transform 250ms var(--animation-curve),
    opacity 250ms var(--animation-curve);
  opacity: 0;
  transform: scaleX(0);
}

.devtools-tab:hover .devtools-tab-line,
.tabs-menu-item:hover .devtools-tab-line {
  background: var(--tab-line-hover-color);
  opacity: 1;
  transform: scaleX(1);
}

.devtools-tab.selected .devtools-tab-line,
.tabs-menu-item.is-active .devtools-tab-line {
  background: var(--tab-line-selected-color);
  opacity: 1;
  transform: scaleX(1);
}

.network-container {
  text-align: center;
}

.ellipsis-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
