:root {
  --highlight: purple;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr;
  max-height: 100%;
}

.webconsole-app {
  max-height: 100%;
  overflow-y: scroll;
}

header {
  background: var(--highlight);
  margin: 0;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

header h3 {
  font-size: 30px;
  margin: 0;
}

.btn-clear {
  background-image: url("../assets/delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
}

.btn-clear:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
