.entry {
  display: grid;
  align-content: center;
  border-bottom: 1px solid #eee;
  list-style: none;
  min-height: 30px;
  font-size: 14px;
  margin-inline: 20px;
  grid-template-columns: 70px auto;
  column-gap: 20px;
  overflow: hidden;
}

.entry__type {
  justify-self: start;
  line-height: 18px;
  border-radius: 3px;
  color: #555555;
  background: #eeeeee;
  padding: 0 5px;
  width: 77px;
  cursor: pointer;
  user-select: none;
  position: relative;
  height: 20px;
  font-size: 12px;
}

.entry__type::after {
  content: "▶︎";
  display: inline-block;
  width: 12px;
  right: 0;
  position: absolute;
  font-size: 10px;
}

.entry__type_expanded::after {
  content: "▼";
}

.entry__type,
.entry__message {
  margin: 6px 0;
}

.entry__message {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.entry__message_expanded {
  white-space: pre;
  max-height: 200px;
  overflow: auto;
}
