.BrowsingContextPicker {
  margin-left: auto;
}

.devtools-button {
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 2px;
  transition: background-color 0.05s ease-in-out;
  text-shadow: none;
  padding: 4px;
  white-space: nowrap;
  background-image: url("../assets/select-arrow.svg");
  background-position: right center;
  background-position-x: right;
  background-repeat: no-repeat;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-inline: 2px 10px;
  fill: var(--theme-icon-color);
  width: 150px;
  font-size: 12px;
  text-align: left;
  color: var(--console-message-color);
  border-radius: 4px;
}

.devtools-button:hover {
  background-color: var(--blue-50-a30);
}

.webconsole-evaluation-selector-button_input {
  font-size: var(--theme-code-font-size);
}

.webconsole-evaluation-selector-button_input:hover {
  background-color: var(--theme-toolbar-hover);
}
