#connect {
  width: 100px;
  text-align: center;
  border: 0;
  background: var(--highlight);
  border-radius: 2px;
  height: 22px;
  padding: 0 10px;
  color: white;
  cursor: pointer;
}

#connect[disabled] {
  background: #b9b9b9;
  cursor: default;
}

#connection-help {
  margin-top: 10px;
  font-size: 0.8em;
}

#connection-help span {
  background-color: #aaa;
  color: white;
  padding: 3px 6px;
  border-radius: 2px;
}
