.jsterm-input-container {
  direction: ltr;
  min-height: calc(
    var(--console-row-height) + var(--jsterm-border-width) +
      var(--jsterm-padding-top) + var(--jsterm-padding-bottom)
  );
  padding-top: var(--jsterm-padding-top);
  padding-bottom: var(--jsterm-padding-bottom);
  border-top-color: var(--theme-splitter-color);
  border-top-width: var(--jsterm-border-width);
  border-top-style: solid;
  overflow-y: auto;
  overflow-x: hidden;
  outline: none;
  max-width: 100%;
  background-color: var(--console-input-background);
  font-family: var(--monospace-font-family);
  font-size: var(--theme-code-font-size);
  line-height: var(--console-output-line-height);
  background-image: url(http://localhost:3000/static/media/input.d551c93afe655ad7446f.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  padding-inline: 24px;
  background-position: 8px;
}

.jsterm-input-container:focus-within {
  border-color: var(--blue-50);
}

.cm-focused {
  outline: none !important;
}
