.flexible-output-input {
  display: flex;
  flex-direction: column;
  grid-area: output-input;
  /* Don't take more height than the grid allows to */
  max-height: 100%;
  overflow: hidden;
  background: var(--theme-body-background);
  color: var(--theme-body-color);
}

.webconsole-app {
  height: calc(100vh - 208px);
  border-color: var(--theme-splitter-color);
  border-width: 1px;
  border-top-style: solid;
  margin-top: 20px;
}
